<div class="container">
  <nav class="navbar navbar-expand-sm bg-light navbar-dark ">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="director" class="m-1 btn btn-light btn-outline-primary" Button>Director</button>
      </li>
      <li class="nav-item">
        <button routerLink="doctor" class="m-1 btn btn-light btn-outline-primary" Button>Doctor</button>
      </li>
      <li class="nav-item">
        <button routerLink="pharmacy" class="m-1 btn btn-light btn-outline-primary" Button>Add pharmacy</button>
      </li>
      <li class="nav-item">
        <button routerLink="listofpharmacies" class="m-1 btn btn-light btn-outline-primary" Button>List of pharmacies</button>
      </li>
      <li class="nav-item">
        <button routerLink="urgentProcurement" class="m-1 btn btn-light btn-outline-primary" Button>Urgent Procurement</button>
      </li>
    </ul>
  </nav>
<router-outlet></router-outlet>
</div>